<div class="jumbotron mt-4">
    <h1>Notas App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolore quae odit dolorem facilis? Consequuntur expedita exercitationem modi incidunt assumenda obcaecati atque beatae quam aut numquam! Ex modi tempora quasi.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quod.</p>
</div>